.container.scalable {
    width: 100%;
    max-width: none;
  }
  
  /* Remove Undo
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ._dash-undo-redo {
    display: none;
  }
  
  body {
    background-color: #171b26;
    color: #9fa6b7;
    overflow-x: hidden;
  }
  
  
  *.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
    background-color: #171b26 !important;
    color: #7b7d8d !important;
  }
  
  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    */
  
  @media only screen and (max-width: 750px) {
    .control-row-1 {
      flex-direction: column;
    }
  
    #state-select-outer, #select-metric-outer {
      width: 100%;
    }
  }
  .Select-menu-outer, .Select-menu-outer div, .Select--multi {
    background-color: #171b26 !important;
    color: #7b7d8d !important;
  }
  @media only screen and (max-width: 750px), (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
  
    g.yaxislayer-above > g > text {
      font-size: 10px !important;
    }
  
  }
  
  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  
  }